main{
    width: 90%;
    margin-left: 5%;
}
.cuadroPrin{
    width: 110%;
    margin-left: -5%;
    background-color: rgb(240, 240, 240);
    min-height: 200px;
    padding: 1%;
}
.cuadroPrin h2{
    font-size: 160%;
    margin:-1% 0 0 0;
    text-align: center;
}
h1{
    font-size: 200%;
    text-align: center;
    margin:2% 0 1% 0;
}
h2{
   
    font-size: 175%;
    margin:3% 0 0.5% 1%;
}
.presentP{
    font-size: 150%;
}
p{
    font-size: 125%;
}
.listasCerv{
    display: flex;
    justify-content: space-evenly;
}
.listasCerv ul{
    margin-top: 1%;
    width: 30%;
    background-color: rgb(240, 240, 240);
}
.tiposCerv{
    border:1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.tiposCerv a{
    border:1px solid blue;
    margin-top: 1%;
    height: 200px;
    width: 24%;
    box-sizing: border-box;
    text-align: center;
}
.pantInicial .tlollevamos{
    padding-top: 5%;
    font-family: 'Playfair Display', serif;
    text-align: right;
    margin-right: 5%;
    font-size: 300%;
}
.pantInicial .tlollevamos2{
    text-align: right;
    margin-right: 5%;
    font-size: 300%;
    text-decoration: underline;
}
.pantInicial img{
    height: 70%;
    position: relative;
    top: -30%;

}

@media screen and (max-width:600px) {
    .pantInicial{
        height: 40%;
        background-size: cover;
    }
    .pantInicial .tlollevamos{
        padding-top: 1%;
        margin-right: 5%;
        font-size: 220%;
    }
    .pantInicial .tlollevamos2{
        text-align: right;
        margin-right: 5%;
        font-size: 220%;
        text-decoration: underline;
    }

}